<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .box {
            position: absolute;
            left: 40%;
            text-align: center;
        }
        
        .id_psw {
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="box">
        <form action="/auth/login" method="POST">
            Login
            <div class="id_psw">
                ID : 
                <input type="text" name="id" size="14">
                <br>
                Password : 
                <input type="password" name="pw" size="14">
            </div>
            <input type="submit" value="login"></input>
        </form>
        <a href="/signUp">
            <input type="button" value="signUp">
        </a>
    </div>
</body>

</html>