<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris</title>
    <style>
        .score1 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 5.5rem;
        }


        .level1 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 5.5rem;
        }

        .score2 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 30rem;
        }

        .level2 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 5.5rem;
        }

        .board1 {
            font-size: 18px;
            margin-top: 15rem;
            margin-bottom: 15rem;
            margin-left: 8rem;
        }

        .board2 {
            font-size: 18px;
            margin-top: 15rem;
            margin-bottom: 15rem;
            margin-left: 35rem;    
        }

        button {
            font-size: 18px;
            margin-bottom: 1rem;
            margin-left: 4rem;
        }
    </style>
</head>

<body>
    <%- include('../views/scripts') -%>
    <div id="test">
        <script>
            const parent = document.getElementById("test");
            let textDiv = document.createElement("div");
            parent.appendChild(textDiv);

            (async ()=>{
                let mysession = await fetch("/user/mysession", {method: 'POST'}); mysession = await mysession.json();

                function failQueue(){
                        alert("fail");
                        gameQuitOnclick();
                }
                async function join(){
                    let res = await fetch('/game/join',{method:'POST'});
                    res = await res.json();
                    console.log(res);
                    if (res["res"] == "true"){
                        textDiv.textContent = mysession.status;
                        ready();
                    }
                    else{ failQueue(); }
                }
                async function ready(){
                    let res = await fetch('/game/ready',{ method:'POST' });
                    res = await res.json();
                    console.log(res);
                }

                textDiv.textContent = mysession.userid;
                
                join();
            })();
        </script>
    </div>
    <button onclick="gameQuitOnclick()">quit</button>
</body>

</html>