<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris</title>
    <style>
        .score1 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 5.5rem;
        }


        .level1 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 5.5rem;
        }

        .score2 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 30rem;
        }

        .level2 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 5.5rem;
        }

        .board1 {
            font-size: 18px;
            margin-top: 15rem;
            margin-bottom: 15rem;
            margin-left: 8rem;
        }

        .board2 {
            font-size: 18px;
            margin-top: 15rem;
            margin-bottom: 15rem;
            margin-left: 35rem;    
        }

        button {
            font-size: 18px;
            margin-bottom: 1rem;
            margin-left: 4rem;
        }
    </style>
</head>

<body>
    <%- include('../views/scripts') -%>
    <div>
        <span>
            <div>
                <span class="score1">score 0</span>
                <span class="level1">level 0</span>
                <span class="score2">score 0</span>
                <span class="level2">level 0</span>
            </div>
            <span>
                <a class="board1">Tetris board1 here</a>
            </span>
            <span>
                <a class="board2">Tetris board2 here</p>
            </span>
            <div>
                <button>retry</button>
                <button>setting</button>
                <button onclick="gameQuitOnclick()">quit</button>
            </div>
        </span>
        <span>
            <div>
                
            </div>
        </span>
    </div>
</body>

</html>