<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris</title>
    <style>
        .score1 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 5.5rem;
        }


        .level1 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 5.5rem;
        }

        .score2 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 30rem;
        }

        .level2 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 5.5rem;
        }

        .board1 {
            font-size: 18px;
            margin-top: 15rem;
            margin-bottom: 15rem;
            margin-left: 8rem;
        }

        .board2 {
            font-size: 18px;
            margin-top: 15rem;
            margin-bottom: 15rem;
            margin-left: 35rem;    
        }

        button {
            font-size: 18px;
            margin-bottom: 1rem;
            margin-left: 4rem;
        }
    </style>
</head>

<body>
    <%- include('../views/scripts') -%>
    <div id="test">
        <input type="text" value="test" id="my">
        <script>
            const parent = document.getElementById("test");
            let textDiv = document.createElement("div");
            parent.appendChild(textDiv);

            (async ()=>{
                let mysession = await fetch("/user/mysession", {method: 'POST'}); mysession = await mysession.json();
                function failConnect(){
                        alert("end connection");
                        gameQuitOnclick();
                }
                async function join(){
                    let res = await fetch('/game/join',{method:'POST'});
                    res = await res.json();
                    if (res["res"] == "true"){
                        textDiv.textContent = res["matchId"];
                        gaming();
                    }
                    else{ failConnect(); }
                }
                async function gaming(){
                    const interval = 100;
                    let timerId = setInterval( async ()=>{
                        const body = {
                            "text" : document.getElementById("my").value,
                            "mysession" : mysession.userid
                        }
                        let res = await fetch('/game/update',{ 
                            'method' :'POST',
                            'headers':{
                                'Content-Type' : 'application/json',
                            },
                            'body' : JSON.stringify(body),
                        });
                        res = await res.json();
                        if (res["res"] == "true"){
                            let gameData = res["gameData"];
                            let key = Object.keys(gameData);
                            if (key[0] == mysession.userid) 
                                key = key[1];
                            else{
                                key = key[0];
                            }
                            textDiv.textContent = `${mysession.userid} -- ${Object.keys(gameData)[0]} , ${Object.keys(gameData)[1]} : ${gameData[key]['text']}`;
                        }
                        else{
                            failConnect();
                            clearInterval(timerId);
                        }
                    },interval);
                }
                textDiv.textContent = "waiting opponent...";
                
                join();
            })();
        </script>
    </div>
    <button onclick="gameQuitOnclick()">quit</button>
</body>

</html>