<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris</title>
    <style>
        .score1 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 5.5rem;
        }


        .level1 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 5.5rem;
        }

        .score2 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 30rem;
        }

        .level2 {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
            margin-left: 5.5rem;
        }

        .board1 {
            font-size: 18px;
            margin-top: 15rem;
            margin-bottom: 15rem;
            margin-left: 8rem;
        }

        .board2 {
            font-size: 18px;
            margin-top: 15rem;
            margin-bottom: 15rem;
            margin-left: 35rem;    
        }

        button {
            font-size: 18px;
            margin-bottom: 1rem;
            margin-left: 4rem;
        }
    </style>
</head>

<body>
    <script src="/scripts/playOnServer.js"></script>
    <div id="container">
        <script>
            const args = [{"text":"test"},null];
            playOnServer(args,100,3000);
            setInterval(() => {
                console.log(args[1]);
            }, 1000);
        </script>
    </div>
    <button onclick="gameQuitOnclick()">quit</button>
</body>

</html>