<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .box {
            position: absolute;
            left: 40%;
            text-align: center;
        }
        
        .id_psw {
            text-align: left;
        }
    </style>
</head>

<body>
    <%- include('../views/scripts') -%>
    <div class="box">
        Login
        <br/>
        ID : <input type="text" name="id" size="14">
        <br/>
        Password : <input type="password" name="psw" size="14">
        <br/>
        <input type="button" value="Login" onclick="loginOnclick(event)">
        <a href="/signup">
            <input type="button" value="signup">
        </a>
    </div>
</body>

</html>