<!DOCTYPE html>
<html>
    <head>
        <style>
            .list {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <%- include('../views/scripts') -%>
        <%- include('./components/navbar') -%>
        <div class="board">
            <div class="list">
                <h2>match history</h2>
                <script>
                    let scoreList=[
                        ['user1','user2'],['user2','user3'],['user3','user1'],
                    ]
                    scoreList.forEach(e=>{
                        document.writeln(`
                        <div>${e[0]} vs ${e[1]}</div>
                        `);
                    });
                </script>
            </div>
        </div>
    </body>
</html>