<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris</title>
    <style>
        
        div {
            text-align: center;
        }

        .score {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;

        }

        .level {
            position: relative;
            font-size: 24px;
            margin-bottom: 1rem;
        }

        p {
            text-align: center;
            font-size: 18px;
            margin-top: 15rem;
            margin-bottom: 15rem;
        }

        button {
            font-size: 18px;
            margin-bottom: 1rem;
        }
    </style>
</head>

<body>
    <div>
            <div>
                <span class="score">score 0</span>
                <span class="level">level 0</span>
            </div>
            <p>Tetris board here</p>
            <div>
                <button>retry</button>
                <button>setting</button>
                <button>quit</button>
            </div>
    </div>
</body>

</html>