<!DOCTYPE html>
<html lang="en">

<head>
    <title>SignUp</title>
    <style>
    </style>
</head>

<body>
    <%- include('../views/scripts') -%>
    <div class="box">
        <%- include('./components/navbar') -%>
        <h1>my status</h1>
    </div>
</body>

</html>